* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1190px;
  margin: auto;
}
.header {
  padding-top: 53px;
  padding-bottom: 120px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header__logo {
  display: flex;
  align-items: center;
}
.logo__img {
  margin-right: 25px;
}
.logo__name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
}
.header-list__item {
  margin-left: 37px;
}
.header-list__link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
}
.accent {
  background: #5528ff;
  color: #fff;
}
.header-list__link.accent {
  padding: 2.5px 14px 4.5px;
  border-radius: 5px;
}
.header-bottom {
  padding-top: 117px;
}
.header-bottom__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 65px;
  color: #202020;
}
.header-bottom__description {
  max-width: 740px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 51px;
  color: #4f4f4f;
  margin-bottom: 85px;
}
.header-bottom__link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.header-bottom__link.accent {
  padding: 16px 58px 11px;
  border-radius: 10px;
}
.services {
  padding: 109px 0 111px;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 39%;
  margin-bottom: 82px;
}
.services-item__img {
  position: absolute;
  top: 25%;
}
.services-item__description,
.services-item__name {
  padding-left: 123px;
}
.services-item__name {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 17px;
}
.services-item__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
  margin-top: 0;
  margin-bottom: 0;
}
.clients {
  padding-top: 61px;
  padding-bottom: 113px;
}
.clients-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-logos--1 {
  margin-bottom: 64px;
}
.clients-logos--2 {
  margin-bottom: 67px;
  margin-left: 20px;
}
.clients-logos--3 {
  margin-right: 35px;
}
.teams {
  padding: 100px 0;
}
.team {
  display: flex;
  align-items: center;
  flex-basis: 33.3333%;
  margin-bottom: 60px;
}
.teams-wrappper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.team__avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 35px;
}
.team-text__name {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #202020;
  margin-top: 0;
  margin-bottom: 11px;
}
.team-text__work {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}
.footer {
  padding: 20px 0;
  background: #f7f7f7;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social img {
  margin-right: 40px;
}
